.keynote-full {
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		li {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 33%;
			div {
				filter: grayscale(1);
				width: 100%;
				background-size: cover;
				&::after {
				  content: "";
				  display: block;
				  padding-bottom: 100%;
				}
			}
			h4 {
				margin: 0.5em 0em;
			}
			h4, p {
				margin-left: 5%;
				margin-right: 5%;
			}
		}
	}	
}

@media (max-width: 500px) {
 .keynote-full {
	ul {
		display: block;
		li {
			display: block;
			width: 100%;
			h4, p {
				margin-left: 0%;
				margin-right: 0%;
			}
		}
	}
 }
}