.keynote-full {
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;

		li {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 20%;


			div {
				filter: grayscale(1);
				width: 100%;
				background-size: cover;
				&::after {
				  content: "";
				  display: block;
				  padding-bottom: 100%;
				}
			}
			h4 {
				margin: 0.5em 0em;
				strong {
					display: block;
				}
			}
			h4, p {
				margin-left: 5%;
				margin-right: 5%;
			}
		}
	}	
}
aside.keynote {
	padding-top: 1em;
	display: flex;
	line-height: 1.5em;
	flex-shrink: 0;
	flex-grow: 0;

	div.image {
		filter: grayscale(1);
		background-size: 100% auto;
		background-repeat: no-repeat;
		&::after {
		  content: "";
		  display: block;
		  padding-bottom: 100%;
		}	
	}
	div {
		width: 50%;
		padding-left: 1em;
	}
}

@media (max-width: 500px) {
 .keynote-full {
	ul {
		display: flex;
		margin: 0;
		padding: 0;
		li {
			display: block;
			width: 33.33%;
			h4, p {
				margin-left: 0%;
				margin-right: 0%;
			}
		}
	}
 }
 aside.keynote {
 	display: block;
 	div {
 		width: 100%;
 		padding-left: 0em;
 		h3 {
 			margin: 0.5em 0em;
 		}
 	}
 }
}