
section.keynotes-front {
	margin: 0px -25px;
	text-align: center;

	h1 {
		text-align: center;
		background: #fff;
		font-size: 120%;
		padding: 0.5em 1em;
		border-radius: 1em;
		display: inline-block;
	}


	ul {
		display: flex;
		list-style: none;
		padding: 1em 0em;
		justify-content: space-between;

		h4 {
			color: $light;
		}

		> li {
			max-width: 33%;
			width: 33%;
			text-align: center;
			padding-bottom: 1em;

			div {
				margin: 0 auto;
				width: 200px;
				height: 200px;
				border-radius: 50%;
				background-color: #eee;
				background-position: center center;
				background-size:cover;
			}

			span {
				display: block;
			}
		}
	}
}

div.keynote-full {
	ul {
		list-style: none;
	}
	li {
		padding-left: 210px;
	}

	img {
		width: 200px; 
		height: 200px; 
		border-radius: 50%;
		float: left;
		background-size: cover;
		margin-left: -220px;
	}
}

@media (max-width: 700px) {
	section.keynotes-front {
		ul {
			> li {
				div {
					width: 150px;
					height: 150px
				}
			}
		}
	}
}


@media (max-width: 500px) {
	section.keynotes-front {
		ul {
			flex-direction: column;
			justify-content: center;
	
			> li {
				width: 100%; max-width: 100%;
			}

		}
	}
}

