$blue: 			 #2ea4bf;
$darkblue: 	 #22769b;
$darkerblue: #174860;
$cyan: 			 #5fbcb5;
$light: 		 #fffffe;
$gradstart:  #3b4070;
$lightgray:  #e6e7e2;
$gray:			 #9e9f9e;
$purple:		 #585794;


$tablegrey:       #e6e6e2;
$tabledarkerblue: #174860;
$tableblue:       #22769b;
$tablecyan:				#2ea4bf;
$tabletextblue:   #3fa3cd;


