</div>

<section class="inverse footer">
	OWASP FOUNDATION | <a href="https://www.owasp.org">owasp.org</a> | <a href="mailto:appseceu-2018@owasp.org">appseceu-2018@owasp.org</a>
</section>

<!-- Global Site Tag (gtag.js) - Google Analytics --> 
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-4531126"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){ dataLayer.push(arguments); }
gtag('js', new Date());
gtag('config', 'UA-4531126');
</script> 

</body>
</html>
