---
---
@import "reset";
@import "vars";
@import "counter";
@import "header";
@import "footer";
@import "teamlist";
@import "keynotelist";
@import "supporters";



html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Exo 2', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

* {
	box-sizing: border-box;
}

em {
	font-style: italic;
}

a {
	text-decoration: none;
	color: $medium;
}
a:hover {
	text-decoration: underline;
}

h1, h2, h3{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 0.25em 0em 0.75em 0em;
	font-weight: 200;
	line-height: 1em;

	sub {
		text-transform: none;
		font-size: 75%;
	}
}
h1 {
	font-size: 337.5%;
	em {
		text-transform: none;
		font-style: normal;
	}
}

section.front {
	h2 {
		font-size: 275%;
	}
	h3 {
		font-size: 200%;
	}	

	margin-bottom: -14em;
	&.img{
		padding-bottom: 16em;
	}
}

h2 {
	font-size: 200%;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 150%;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h4 {
	font-size: 110%;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

p {
	margin-bottom: 1em;
}

strong {
	font-weight: bold;
}

button {
	border-radius: 0.8em;
	height: 1.6em;
	border: none;
	padding: 0em 1em;
	text-transform: uppercase;
	font-family: 'Montserrat';
	background: $light;
	color: #fff;
	font-weight: 400;
	font-size: 87.5%;

	&.dark {
		background: $medium;
	}
}

.main {
	min-height: 20em;
	line-height: 1.25em;
}

section {
	padding: 0em 4em 2em 4em;
 	
 	&.inverse {
		background-color: $medium;
		color: #fff;
		padding-top: 1em;

		a {
			color: $light;
		}

		button.dark {
			background: #fff;
			color: $medium;
		}
	}
	&.inverse+section, &.img+section { padding-top: 1em; }

	&:first-of-type {
		border-top: 2.3em solid $medium;
		&.inverse {
			padding-top: 2em;
		}
	}

	&.img {
		color: #fff;
		border-top: none;
		background-size: cover;
		background-position: top left;

		padding: 4.5em 4em;
		width: 100%;
		height: 100%;
		background-position: bottom right, bottom right, top left;
		background-repeat: no-repeat, repeat-y, no-repeat;
		background-size: 33% auto, cover, cover;	
		background-blend-mode: normal, multiply, normal;

	}
	&.map {
		padding: 0;
	}
}
section.img a {
	color: #fff;
	text-decoration: underline;
}


ul {
	list-style: disc;
	margin: 0.5em 1.5em;
}

sup { 
	font-size: 50%; 
	position: relative;
	top:-1em;
}

table {
	border-collapse: separate;
	border-spacing: 0.5em;
	margin: 1em -0.5em;

	td,th {
		padding: 0em 1em;
	}
	th {
		border-radius: 0.8em;
		line-height: 1.6em;
		background: $light;
		color: #fff;
		text-align: left;
		text-transform: uppercase;
		margin-right: 1em;
	}
	th:first-of-type {
		background: $medium;
	}
	td {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	tbody {
		tr {
			box-shadow: 0px 1px $light;
		}
		tr:last-of-type {
			box-shadow: none;
		}
	}
}








@media (max-width: 500px) {
	body {
		font-size: 90%;
	}

	section.front {
		margin-bottom: 0em;
		&.img{
			padding-bottom: 4em;
		}
	}

	.main {
		section {
			padding: 1em 1em;
			
			&.map {
				padding: 0;
			}

			&.img {
			padding: 2.5em 1em;
			}
		}
	}
	.main section:first-of-type {
		border: none;
	}
}





