---
---
@import "reset";
@import "vars";
@import "header";
@import "footer";
@import "teamlist";
@import "keynotelist";
@import "supporters";
@import "sections";

@font-face {
    font-family: 'Aller-Italic';
    src:url('../fonts/Aller-Italic.ttf.woff') format('woff'),
        url('../fonts/Aller-Italic.ttf.svg#Aller-Italic') format('svg'),
        url('../fonts/Aller-Italic.ttf.eot'),
        url('../fonts/Aller-Italic.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src:url('../fonts/Aller.ttf.woff') format('woff'),
        url('../fonts/Aller.ttf.svg#Aller') format('svg'),
        url('../fonts/Aller.ttf.eot'),
        url('../fonts/Aller.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}






html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Aller', sans-serif;
}

* {
	box-sizing: border-box;
}

em {
	font-style: italic;
}
strong {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: $darkblue;
}
a:hover {
	text-decoration: underline;
}

h1 {
	font-weight: bold;
	color: $darkblue;
	font-size: 200%;
	margin-bottom: 0.5em;
}
h2 {
	font-weight: bold;
	font-size: 150%;
	margin-bottom: 0.5em;
}
h3 {
	font-weight: bold;
	font-size: 130%;
}

ul li {
	margin-bottom: 0.5em;
}

p {
	margin-bottom: 1em;
}

div.main {
	min-height: 400px;
}

section {
	padding: 2em;
	line-height: 1.5em;

}

section ul {
	padding: 1em 1.5em;
}
section li {
	list-style-type: disc;
}

section.inverse {
	
}
