---
---
@import "reset";
@import "vars";
@import "header";
@import "footer";
@import "teamlist";
@import "keynotelist";
@import "supporters";
@import "sections";



@font-face {
    font-family: 'Aller-Italic';
    src:url('../fonts/Aller-Italic.ttf.woff') format('woff'),
        url('../fonts/Aller-Italic.ttf.svg#Aller-Italic') format('svg'),
        url('../fonts/Aller-Italic.ttf.eot'),
        url('../fonts/Aller-Italic.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src:url('../fonts/Aller.ttf.woff') format('woff'),
        url('../fonts/Aller.ttf.svg#Aller') format('svg'),
        url('../fonts/Aller.ttf.eot'),
        url('../fonts/Aller.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}



html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Aller', sans-serif;
	font-size: 16px;
	background: $purple;
}

* {
	box-sizing: border-box;
}

em {
	font-style: italic;
}
strong {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: $darkblue;
}
a:hover {
	text-decoration: underline;
}

h1,h2,h3 {
	line-height: 1.5em;
}

sup {
	font-size: 50%;
	position: relative;
	top: -0.5em;
}
sub {
	font-size: 50%;
	postion: relative;
	top: -0.5em;
}



h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 3.25em;
	color: $cyan;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
	color: $darkblue;
}



ul li {
	margin-bottom: 0.5em;
	ul {
		padding-top: 0.5em;
		margin-top: 0em;
		li {
			margin-bottom: 0em;
		}
	}
}
ul.centerlist {
	display: table;
	margin: 0 auto;
	text-align: left;
}

p {
	margin-bottom: 1em;
}

div.main {
	min-height: 400px;
	background: #fff;
}
.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(/assets/images/grayscale.svg#greyscale); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

.shadow {
	box-shadow: inset 0px 120px 100px -100px rgba(0,0,0,0.5);
}

.sponsors {
	h3 {
		text-align: center;
	}
	div {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		justify-content: space-around;
		a {
			height: 80px;
			margin: 35px 10px;
			width: 180px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
		&.Diamond a {
			width: 270px;
		}
		&.Platinum a {
			width: 220px;
		}
		&.Gold a {
			width: 200px;
		}
	}
}






@media (max-width: 500px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.25em;

	}
}

